@import "_variables.scss";

/* SECCION CLIENTES */

.clientes-div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    figure{
        position: relative;
        height: 350px;
        border-radius: 50%;
        margin-right: 15px;
        margin-bottom: 30px;
        cursor: pointer;
        &:hover .capa p{
            opacity: 1;
            visibility: visible;
            font-size: 20px;
            font-weight: 900;
            color: $colorRosa;
        }
        &:hover .capa h3{
            opacity: 1;
            visibility: visible; 
            margin-top: 90px;
            margin-bottom: 40px;
            color: $colorAzul;
            font-size: 40px;
            font-weight: 900;
            text-shadow: 0 0 10px $colorAzul,
            0 0 20px $colorAzul,
            0 0 40px $colorAzul;
        }
        &:hover img{
            transform: scale(0.9);
            transition: all 0.5s ease-in-out;
        }

        img{
            border-radius: 50%;
        }

        .capa{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(247, 247, 247, 0.8);

            p, h3{
                visibility: hidden;
                opacity: 0;
                text-align: center;
                transition: all 0.5s ease-out;
            }
        }
    }
}

