@import "_variables.scss";


/*SECTION DIVIDIDA*/

.section-dividida{
    grid-area: dividida;
    display: flex;
    margin: 30px;
    align-items: center;

    .texto{
        background-color: $colorFondo;                           
        width: 50%; 
        text-align: center;    

        h1{
            transition: .5s linear;

            &:hover{
                letter-spacing: 6px;
                text-shadow: 0 0 10px $colorAzul,
                0 0 20px $colorAzul,
                0 0 40px $colorAzul  ; /*Sombra horizontal, vertical, blur y color*/
            }   
        }

        p{
            width: 50%;
            margin: auto;
        }

        .rw-texto{
            font-weight: 800;
            color: $colorRosa;
            font-size: 55px;
            transition: .5s linear;

            &:hover{
                letter-spacing: 6px;
                text-shadow: 0 0 10px $colorRosa,
                0 0 20px $colorRosa,
                0 0 40px $colorRosa  ; /*Sombra horizontal, vertical, blur y color*/
            }
        }

        .p-texto{
            color: rgb(94, 94, 94);
            font-weight: bold;
            width: 50%;                                   /*Siempre que un elemento tiene ancho fijo, el margin auto lo centra*/
            margin: auto;
        }   

        .texto-texto{
            font-size: 15px;
            font-weight: 600;
            line-height: 30px;
            text-transform: uppercase;
        }   

        .mas-texto{
            color: $colorRosa;
        }                                            
    } 
}

.imagen{
    background: url(../img/seccion.jpg);
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}



/*SECTION RESUMEN*/

.seccion-resumen{
    grid-area: resumen;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(../img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;

    .resumen{
        display: flex;
        align-items: center;
        justify-content: center;

        .item-resumen{
            padding: 40px 100px;
            text-align: center;
            align-items: center;

            span{
                color:rgb(241, 238, 240);
                font-weight: bolder;
                font-size: 20px;
                padding: 10px;
                border-radius: 10px;
                background-color: rgba(128, 128, 128, 0.8);
            }

            .item i{
                color: $colorFondo;
                text-shadow: 0 0 2px $colorFondo,
                0 0 4px $colorFondo,
                0 0 8px $colorFondo;
            }

            .numero-resumen{
                font-size: 80px;
                color: $colorRosa;
                font-weight: 900;
                margin-bottom: 5px;
                text-shadow: 0 0 5px $colorRosa,
                0 0 10px $colorRosa,
                0 0 20px $colorRosa;
            }
        }
    }
}



/* SERVICIOS */

.section-servicios{
    grid-area: servicios;
    width: 100%;
    text-align: center;

    .lista-servicios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .servicio{
            position: relative;
            overflow: hidden;
            margin: 30px 5px;
            height: 300px;
            &:hover p{
                bottom: -50px;
                opacity: 0;
            }

            img{
                max-width: 100%;
                filter:grayscale(1);
                transition: all .5s ease-in-out;
                &:hover{
                    filter: grayscale(0);
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }

            p{
                position: absolute;
                bottom: 0;
                left: 0;
                margin: 0;
                padding: 10px 15px;
                background-color: rgba(63, 63, 63, .55);
                width: 100%;
                text-align: left;
                text-transform: uppercase;
                color:$colorRosa;
                transition: all .5s ease-in-out;
                font-weight: bold;
                text-shadow: 0 0 5px $colorRosa,
                0 0 10px $colorRosa,
                0 0 20px $colorRosa;
            }
        }
    }
}
