@import "_variables.scss";
@import "_index.scss";
@import "_nosotros.scss";
@import "_servicios";
@import "_clientes.scss";
@import "_contacto.scss";
@import "_blog.scss";
@import "_mixins.scss";


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;             /*LOS ELEMENTOS NO SALEN DEL CONTENEDOR*/

}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7f7f7e5;
}


h1{
    text-align: center;
    padding: 20px;
    color: $colorAzul;
    font-size: 40px;
    font-weight: 900;
    margin: 30px 0px;
    transition: .5s linear;
    &:hover{
        letter-spacing: 4px;
        text-shadow: 0 0 10px $colorAzul,
        0 0 20px $colorAzul,
        0 0 40px $colorAzul;
    }
}


/*MENU DE NAVEGACION*/

nav{
    height: 80px;
    width: 100%;
    background-color: #f7f7f7;
    text-transform: uppercase;
    padding: 5px;
}


/*MENU*/

.navbar{
    background-color: $colorFondo;
    align-items: center;
    height: 100%;
}

.navbar-nav .nav-link {
    margin: 10px;
}

.navbar-toggler {
    background-color: $colorAzul;
    transition: all .5s ease-in-out;
}

.navbar-toggler:hover{
    background-color: #06657a;
}

.navbar-nav a{
    border-radius: map-get($btn_link , bordeRedondo);
    padding: map-get($btn_link , margenInterno);
    font-weight: map-get($btn_link , tamanioLetra);
    letter-spacing: map-get($btn_link , espacioLetras);
    color: $colorRosa !important; 
    margin-right: 30px;
}

.navbar-nav a:hover{
    background-color: $colorAzul;
    color: white !important;
    padding: 13px 13px;
    transition: all 0.3s ease-in;
}

.logo{
    width: 230px;
    height: 50px;
    grid-column: 1 / 2;
    padding: 0 10px;
}

/*BANNER*/

.texto-banner{
    background-color: #444444e7;
    border-radius: 20px;
    text-shadow: 0 0 10px $colorAzul,
    0 0 20px $colorAzul,
    0 0 40px $colorAzul;

    h5{
        color: $colorFondo;
        font-size: 30px;
    }
}

.carousel-inner{
    max-height: 600px;

    .carrousel1{
        height: 80vh;
        background-image: url(../img/banne1_nuevo.jpg);
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }
    
    .carrousel2{
        @extend .carrousel1;
        background-image: url(../img/banner2_nuevo.jpg);
    
    }
    
    .carrousel3{
        @extend .carrousel1;
        background-image: url(../img/banner3_nuevo.jpg);
    }
}


/* BOTON FLOTANTE */

.contenedor-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    border-radius: 50%;
    border: 2px solid #035e729c;
    padding: 10px 15px;
    background-color: #0988a59c;
    transition: all 0.3s ease-in-out;
    &:hover{
    border: 2px solid $colorRosa ;
    border-color: #c01169b2;
    background-color: #f7f7f7b6;
    box-shadow: 0 0 10px $colorRosa,
    0 0 20px $colorRosa,
    0 0 40px $colorRosa  
    ; /*Sombra horizontal, vertical, blur y color*/
    }

    i{
        color: black;
        &:hover{
            color: #035e72;
        }
    }
}


/* FOOTER */

footer{
    width: 100%;
    background-color: #cecece;
    align-items: center;
    margin-top: 50px;

    ul {
        padding: 0;
    }

    a{
        text-decoration: none;
        color:$colorRosa;
        transition: all .5s ease;
        &:hover{
            color:$colorAzul;
            letter-spacing: 1px;
            transform: scale(1.1);
        }
    }

    h2{
        color: $colorAzul;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 20px;
    }

    .logo-footer{
        display:flex;
        align-content: center;

        img{
            width: 253px;
            height: 53px;
            text-align: center;
        }
    }
}

.contactos{
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.redes{
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}


.copy{
    background-color: #cecece;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;

    p{
        margin-bottom: 0;
    }
}


@media only screen and (min-width: 993px){


    .seccion-resumen{
        height: 100%;
    }
    .resumen{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .lista-servicios{
        flex-direction: row;
        align-items: center;
    }

    .section-dividida{
        align-items: center;
    }

    .texto h1{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .diseño{
        text-align: right;
    }
    

    .div-blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px;
        row-gap: 50px;
    }
}

@media only screen and (max-width: 992px){

    .navbar-collapse {
        flex-basis: 100%;
        align-items: center;
    }

    .texto h1{
        margin: 0;
        padding-bottom: 0;
    }

    .texto .diseño{
        text-align: right;
    }

    .texto .text{
        width: 100% !important;
        padding: 0 30px 0 5px;
        margin: 0;
        text-align:justify;
    }

    .resumen{
        flex-wrap: wrap;
    }

    .item-resumen{
        padding: 40px 50px;
    }

    .seccion-resumen{
        height: 100%;
        font-size: 10px;
    }

    .item i{
        font-size: 80px;
    }

    .numero-resumen{
        font-size: 40px;
    }

    .item span{
        font-size: 15px;
    }

    .diseño{
        text-align: center;
    }

    .box{
        flex-direction: column;
    }

}

@media only screen and (max-width: 768px){


    .contenedor-btn{
        right: 20px;
    }

    .carousel-item{
        height: 80vh;
    }

    .section-dividida .imagen{
        width: 80% !important;
        height: 250px;
        margin-top: 20px;
    }

    h1{
        font-size: 30px;
    }

    .rw-texto{
        font-size: 30px;
    }

    .carousel-item h5{
        font-size: 20px;
    }
    .carousel-item p{
        font-size: 15px;
    }

    .div-blog{
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
    }

    .section-dividida{
        flex-direction: column;
    }

    .diseño{
        text-align: center;
    }

    .section-dividida .imagen{
        width: 100%;
    }

    .section-dividida .texto{
        width: 100%;
        text-align: justify;
    }

    .texto{
        display: flex;
        flex-direction: column;
        width: 100%;
        .text{
            width: 100% !important;
        }
    }

    .texto h1{
        padding-bottom: 0;
        margin-bottom: 5px;
    }
    
    .texto p{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .diseño{
        text-align: center;
    }

    .seccion-resumen{
        height: 100%;
        font-size: 10px;
    }

    .numero-resumen{
        font-size: 50px;
    }

    .numero-resumen span{
        font-size: 50px;
    }

    .resumen{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .lista-servicios{
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
    }

    .servicio{
        max-width: 85%;
        height: 260px;
    }

    .servicio img{
        height: 100%;
    }
    

    .item-blog{
        height: 300px;
        width: 90%;
    }

    .div-blog{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px;
        row-gap: 50px;
    }

    .box{
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column;       
    }

    .footer{
        margin-top: 0px;
        padding-top: 0px;
    }

    .logo-footer{
        order: 2;
    }

    .redes{
        order: 3;
    }

    .footer img{
        padding-top: 20px;
    }

    .texto-presentacion{
        font-size: 15px;
    }

    .form-contacto {
        padding: 15px 5px 15px 5px;
    }

    .campo__input{
        width: 100%;
    }

    .campo__label{
        font-size: 15px;
    }

    figure img{
        width: 430px;
    }

    .div-clientes figure{
        margin-bottom: 0;
    }


}

@media only screen and (max-width: 600px){

    .logo {
        width: 190px;
        height: 40px;
    }

    .carousel-item{
        height: 50vh;
    }

    .section-dividida{
        flex-direction: column;
    }

    .texto .diseño {
        text-align: center;
        width: 90%;
    }

    .texto{
        display: flex;
        flex-direction: column;
        width: 100%;
        .text{
            width: 100% !important;
        }
    }

    .texto-texto{
        font-size: 12px;
        padding-bottom: 5px;
    }

    .section-dividida .imagen{
        display: none;
    }

    .texto h1{
        padding-bottom: 0;
        margin-bottom: 5px;
    }

    .seccion-resumen{
        height: 100%;
        font-size: 10px;
    }

    .item i{
        font-size: 80px;
    }

    .numero-resumen{
        font-size: 40px;
    }

    .item span{
        font-size: 15px !important;
    }

    .diseño{
        text-align: center;
    }

    .footer{
        display: flex;
        flex-direction: column;     
        margin-top: 0px;
        padding-top: 0px !important;  
    }

    .logo-footer{
        order: 2;
    }

    .redes{
        order: 3;
    }

    .footer img{
        padding-top: 20px;
    }

    .seccion-resumen{
        height: 100%;

    }
    .resumen{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .servicio{
        height: 200px !important;
    }

    .servicio img{
        height: 100%;
    }

    .lista-servicios{
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
    }

    .texto-presentacion{
        font-size: 15px !important;
        width: 95%;
    }

    .miembros, .box{
        width: 100%;
    }

    .div-miembros img{
        width: 100%;
    }

    .div-servicio{
        height: 350px !important;
    }

    .capa h3{
        font-size: 25px !important;
    }

    .capa p{
        font-size: 20px !important;
    }

    .section-blog .div-blog .item-blog{
        height: 100%;
    }

    .section-contacto .form-contacto {
        padding: 15px 15px 15px 15px;
    }

    .campo__input{
        width: 100%;
    }

    .campo__label{
        font-size: 15px;
    }

    figure img{
        width: 430px;
    }

    .div-clientes figure{
        margin-bottom: 0;
    }

}

